/* DEFAULT */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #000000; */
    text-decoration: none;
}

/* HEADER */

nav {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

li a {
    background-color: yellow;
    color: green;
    font-size: x-large;
    border: 2px solid red;
}


/* MAIN */

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .search h1 {
    color: white;
} */

.form {
    margin-right: 30px;
}



.img {
    width: 100%;
    height: 300px;
}

.container {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 50px;
}

/* .container-box {
    width: 100% / 3;
} */

.movies {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 2px solid red;
}

/* a {
    color: white;
} */


/* FOOTER */